CONFIG_ARM=y
CONFIG_SOC_FAMILY_NRF=y
CONFIG_SOC_SERIES_NRF51X=y
CONFIG_SOC_NRF51822_QFAA=y
CONFIG_BOARD_WALNUT=y

# enable uart driver
#CONFIG_SERIAL=y
#CONFIG_UART_NRF5=y

# enable console
CONFIG_CONSOLE=y
CONFIG_RTT_CONSOLE=y

# bluetooth
CONFIG_BT=y
CONFIG_BT_CTLR=y

# logging
CONFIG_SYS_LOG=y
CONFIG_SYS_LOG_SHOW_TAGS=y
#CONFIG_SYS_LOG_SHOW_COLOR=y
CONFIG_SYS_LOG_DEFAULT_LEVEL=4
#CONFIG_SYS_LOG_OVERRIDE_LEVEL=0
#CONFIG_SYS_LOG_EXT_HOOK=y

# i2c
CONFIG_I2C=y
CONFIG_SYS_LOG_I2C_LEVEL=1

# configure gpio
CONFIG_GPIO=y
CONFIG_I2C_WRAP=y
CONFIG_SYS_LOG_GPIO_LEVEL=1

# configure sensors
CONFIG_SENSOR=y
CONFIG_SYS_LOG_SENSOR_LEVEL=1
CONFIG_SI7020=y
CONFIG_TSL4531=y
#CONFIG_BMP280=y



CONFIG_MAIN_STACK_SIZE=1152
